
<img src=".\assets\img\CaJpture.JPG" alt="Description of the image" width=" 1500">

<h1>GESTION DES VUES ET REQUETTES </h1>
<nav>
  <ul>
    <li><a href="http://localhost:4200/pfas">Notation </a></li>
    <li><a href="http://localhost:4200/pfas_zn/about">Spécialiste</a></li>
    <li><a href="http://localhost:4200/pfas_zn/contact">Mutation ZN to ZS </a></li>
    <li><a href="http://localhost:4200/pfas_zn/contact">Mutation Zs to Zn </a></li>
    <li><a href="http://localhost:4200/pfas_zn/contact">Nombre pfa par grade </a></li>

  </ul>
</nav>
